absl-py==2.0.0
chex==0.1.85
etils==1.5.2
flax==0.7.5
FlowBasis==0.1.dev0
fsspec==2023.10.0
h5py==3.10.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
jax==0.4.20
jaxlib==0.4.20
markdown-it-py==3.0.0
mdurl==0.1.2
ml-dtypes==0.3.1
msgpack==1.0.7
nest-asyncio==1.5.8
numpy==1.26.2
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.4.3
protobuf==4.25.1
Pygments==2.17.2
PyYAML==6.0.1
rich==13.7.0
scipy==1.11.4
tensorstore==0.1.50
toolz==0.12.0
typing_extensions==4.8.0
zipp==3.17.0
